@model Pesticides.Models.ToxicityOnBird

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>هل أنت متأكد من الحذف؟</h3>
<div>
    <h4>التأثير على الطيور</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToxicityAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToxicityAr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="حذف" class="btn btn-default" /> |
    @Html.ActionLink("اللائحة", "Index")
</div>
    }
</div>
